div{
text-align: center;
font-style: Bold;
border-style: Solid;
border-color: blue;
margin:50px;
padding:5px;
}
img{
  float:right;
}
p{
  line-height:1.5;
}
table{
  background-color:blue;
  color:white;
}
