div{
text-align: center;
font-style: Bold;
border-style: Solid;
border-color: blue;
margin:50px;
padding:5px;
}
p{
  line-height: .5
}
img{
  image-align:right;
  border-style:solid;
  border-color:blue;
  padding:0px;
}
 
table{
  background-color:blue;
  color:white;
}
